<!DOCTYPE HTML>
<head>
<title>About Us</title>
<style>
.heading{
    color: #89d6f3;
    font-family: "Roboto Slab";
    align:center;
}
.content{
    font-family: "Roboto Slab";
    align:center;
}
</style>
</head>

<body>
<h1 class = "heading" align="center">THE PASSWORD GENERATOR</h1> <br /><br />
<h3 class = "content" align="center">A password generator is a software tool that creates random or customized passwords for users. <br />
    It helps users create stronger passwords that provide greater security for a given type of access.</h3>

<br />
<br />
<h3 align="center"> Please click on this link to <a href = "{% url 'home' %}">generate password</a></h3>
</body>
</html>